/*COLOR PALETTE
purple- 	#000f8d	rgb(0, 15, 141)
turquoise- 	#02b9e2	rgb(2, 185, 226)
ice blue- 	#cce2e6	rgb(204, 226, 230)
navy- 		#01124b	rgb(1, 18, 75)
chartreuse-	#aaaa65	rgb(170, 170, 101)*/

@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Electrolize');



/*STYLING-AllPages:Background/pageLayout/NavBar*/

body {
	font-family: 'Orbitron', 'Electrolize', sans-serif;
	font-size: 15px;
	word-spacing: .15em;
	/*background-image: url('images/e1.png');*/
	/*background-size: cover;*/
 	/*background-position: center center;*/ 
 	/* applying image to body splits image and image repeats verticaly*/
}

.background {
    position: relative;
	z-index: 1;
    width: 100%;
	height: 100%;
	/*background-image: url("images/e1.png");*/
	/* applying linear gradient and image to the background eliminates the need for the tinted layer*/
	background: linear-gradient(rgba(0, 15, 141, 0.45), rgba(0, 15, 141, 0.1)
	/*, rgba(0, 15, 141, 0.01)*/
	), 
	url("images/e1.png");
	background-size: cover;
    background-position: center center;
    color: #ffffff;
}


/* the background image applies over the entire body content */
.background2, .background3, .background4 {
    position: absolute;
	/*z-index: 1;*/
    width: 100%;
	height: 100%;
	background-size: cover;
    background-position: center center;
}
.background2 {
	background-image: url('images/e2.png');	
}
.background3 {
	background-image: url('images/n.png');	
}
.background4 {
	background-image: url('images/g.png');	
}

/*the background image is fixed in place and the main-layer applies the tint*/
.main-layer2 {
  	background-color: rgba(0, 15, 141, 0.4);
	color: #ffffff;
    position: relative;
	/*z-index: 5;*/
    width: 100%;
    height: 100%;
}


/* the nav/name/signup/filler boxes all wrap inside the page-content, so all content scrolls over background & mainlayer*/
.nav-box {
	width: 40%;
	height: 200px;
	text-shadow: 0px 0px 5px #aaaa65, 0px 0px 10px #cccccc;
	margin: 0 auto;
	display: flex;
  	justify-content: space-between;
  	align-items: center;
}

.nav-tabs {
	/*border:  2px solid #ffffff;*/
  	margin: 5px;
	padding: 10px;
  	width: 100px;
  	height: 100px;
  	display: flex;
  	justify-content: space-around;
  	align-items: center;
  	/*border-radius: 50px;*/
	/*box-shadow: 0px 0px 5px #ffffff;*/
}

.tab-link:link {
  	text-decoration: none;
  	color: #ffffff;
}
.tab-link:visited {
  	color: #ffffff;
}
.tab-link:hover {
  	color: #aaaa65;
  	/*color: #02b9e2;*/
}

.spaced-char {
	letter-spacing: .1em;
}
/*END-AllPages:Background/PageLayout/NavBar*/


/*STYLING-IndexPage:MuseumName/SignUpBox*/
.name-box {
	width: 100%;
	height: 260px;
	font-size: 50px;
	font-weight: bold;
	text-shadow: 0px 0px 5px #aaaa65, 0px 0px 10px #cccccc;
	/*margin: 0 auto;*/
	display: flex;
 	justify-content: space-around;
  	align-items: center;
}

.signup-box {
	width: 100%;
	height: 230px;
	margin: 0 auto;
	display: flex;
  	justify-content: space-around;
  	align-items: flex-start;
}

.signup-link {
  	display: flex;
  	justify-content: space-around;
  	align-items: center;
  	margin-top: 26px;
  	border:  2px solid #ffffff;
  	padding: 22px 40px;
  	/*width: 60%;*/
  	/*height: 20px;*/
	text-shadow: 0px 0px 15px #aaaa65, 0px 0px 10px #cccccc;
}
.spaced-word {
	word-spacing: .4em;
}

.signup-link:link {
  	text-decoration: none;
  	color: #ffffff;
}
.signup-link:visited {
  	color: #ffffff;
}
.signup-link:hover {
	/*color: #aaaa65;*/
  	background-color: #02b9e2;
  	/*background-color: #aaaa65;*/
}

.filler-box {
	/*background-color: rgba(0, 15, 141, 0.3);*/
	width: 100%;
	height: 277px;
	color: #000000;
	display: flex;
  	justify-content: space-around;
  	align-items: center;
  	margin-top: -18px;
}
/*End-IndexPage:MuseumName/SignUpBox*/


/*STYLING-AllPages:Footer*/
.footer-box {
	background-color: rgba(1, 18, 75, 0.9);
	width: 100%;
	height: 534px;
	color: #ffffff;
	display: flex;
	flex-direction: column;
  	justify-content: space-around;
  	align-items: center;
}

#above-footer {
	font-size: 12px;
	margin-top: 100px;
	padding: 10px 0px;
}

.footer {
	background-color: #ffffff;
	width: 75%;
	height: 240px;
	color: #02b9e2;
	text-align: center;
	margin-top: -55px;
}

h4 {
	margin-top: 48px;
}

.email {
	margin: 37px 0px 0px -8px;
	display: flex;
	flex-direction: row;
  	justify-content: center;
  	align-items: center;
}

.input {
	height: 36px;
	width: 228px;
	padding: 15px 5px 1px;
	border: 2px solid #02b9e2;
}

#email-input {
	border: none; 
}

.button {
	color: #02b9e2;
	background-color: #ffffff;
	width: 120px;
	margin-left: 10px; 
	padding: 18px 5px;
	border: 2px solid #02b9e2;
	border-radius: 25px;
}

.button:hover {
	color: #ffffff;
  	background-color: #02b9e2;
  	border: 2px solid #ffffff;
  	box-shadow: 0px 0px 5px #000000;
}  	
  	
h6 {
	font-size: 12px;
	margin-top: 36px;
}

.below-footer {
	text-align: center;
	margin-top: -70px;
	font-size: 12px;
}

.sociallink {
	font-size: 20px;
  	color: #f1f0ec;
  	margin: 10px;
  	padding: 10px 0px 18px;
}
/*END-AllPages:Footer*/


/*STYLING-AllPages(exceptIndex):Wrapper(forWhite.bg-toCover-bg.image*/
.wrapper {
	/*position: absolute;
	z-index: 10;*/
  	background-color: white;
  	width: 100%;
  	height: 750px;
  	display: flex;
  	justify-content: space-around;
  	align-items: center;
	text-align: justify;
}
/*END-AllPages:Wrapper*/


/*STYLING-AboutPage*/
.about-content {
	width: 77%;
	color: #aaaa65;
	font-size: 18px;
	line-height: 1.5em;
	/*background-color: white;*/
	box-shadow: 0px 0px 1px #01124b, 0px 0px 10px rgba(0, 15, 141, 0.5);
	padding: 20px;
}

span {
	color: #02b9e2;
	font-weight: bold;
	text-transform: uppercase;
}
/*END-AboutPage*/


/*STYLING-LocationPage*/
.location-content {
	width: 77%;
	/*background-color: #01124b;*/
	background-color: rgba(170, 170, 101, 0.8);
	/*color: #000f8d;
	color: #cce2e6;*/
	color: #01124b;
	font-size: 22px;
	line-height: 1.5em;
	box-shadow: 0px 0px 1px #01124b, 0px 0px 10px rgba(0, 15, 141, 0.5);
	padding: 50px 20px;
	display: flex;
}

.text-section {
 	width: 35%;
	display: flex;
	justify-content: center;
  	align-content: center;
  	align-items: center;
  	padding: 8px;
  	margin-right: 12px;
  	text-align: left;
}

.text h2 {
  	margin: 30px 10px;
 	line-height: 1.5em;
  	font-size: 25px;
	font-weight: bold;
}
.text h3 {
	color: rgba(0, 15, 141, 0.7);
  	margin: 30px 10px 0px;
 	line-height: 1.5em;
  	font-size: 25px;
	font-weight: bold;
	text-shadow: 0px 0px 1px rgba(1, 18, 75, 0.4);
}
.text p {
	margin: 0px 10px;
  	line-height: 1.75em;
}

.image-section {
 	 width: 62%;
}
.map {
	width: 100%;
	height: 100%;
	background-size: cover;
  	background-position: center center;
  	border: 2px solid rgba(0, 15, 141, 0.7);
}
/*End-LocationPage*/


/*STYLING-GalleryPage*/
.gallery-content {
  	width: 80%;
  	color: #aaaa65;
  	background-color: rgba(0, 15, 141, 0.3);
  	display: flex;
  	flex-wrap: wrap;
  	box-sizing: border-box;
  	padding: 20px;
  	justify-content: space-around;
  	align-items: center;
 	box-shadow: 0px 0px 1px #01124b, 0px 0px 10px rgba(0, 15, 141, 0.5);
}

.gallery-header {
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
	text-shadow: 0px 0px 1px #01124b;
}
.gallery-image-box {
  	width: 20%;
  	height: 200px;
  	background-color: #000f8d;
	background-color: rgba(1, 18, 75, 0.5);
  	margin: 5px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: space-around;
  	box-sizing: border-box;
  	padding: 5px;
  	border-radius: 10px;
}

.gallery-image-tag {
  	font-family: 'Orbitron', 'Electrolize', sans-serif;
}

.gallery-image {
  	height: 75%;
  	width: 90%;
  	border-radius: 8px;
  	border: 1px solid #01124b;
  	border: 2px solid #aaaa65;
  	margin-bottom: 4px;
}
/*END-GalleryPage*/

